{% extends 'base.html' %}
{% block content %}
<h2>Dashboard em Tempo Real</h2>
<div class="stats">
    <p>Temperatura Atual: <span id="temp-val">--</span>°C</p>
    <p>Umidade Atual: <span id="umid-val">--</span>%</p>
</div>

<div style="width: 80%; margin: auto;">
    <canvas id="graficoTemporal"></canvas> </div>

<h3>Últimas 10 Leituras</h3>
<table>
    <tr><th>Data</th><th>Temp (°C)</th><th>Umidade (%)</th></tr>
    {% for l in leituras %}
    <tr>
        <td>{{ l.timestamp }}</td>
        <td>{{ l.temperatura }}</td>
        <td>{{ l.umidade }}</td>
    </tr>
    {% endfor %}
</table>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}